@{
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    ViewData["Title"] = " Dashboard Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/dashboard.css">
    <title>Dashboard Page</title>
</head>

<body>

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-10 col-sm-12 h2 fw-bold" style="color: #0066A7;">
                Dashboard
            </div>
            <div class="col-lg-2 col-sm-12  d-flex justify-content-end">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Current Month</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>


       <div class="row g-2">
        <!-- Card 1 -->
        <div class="col-lg-3 col-sm-6">
            <div class="shadow-lg h-100 rounded-2 p-3 bg-white">
                <div class="d-flex justify-content-end">
                    <div style="border: 3px solid #90ee90;" class="rounded-circle p-2">
                        <div style="background-color: #90ee90;" class="rounded-circle">
                            <img class="p-2" src="~/images/icons/total-sales.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <h4 class="m-0">₹1630</h4>
                    <p class="m-0">Total Sales</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-3 col-sm-6">
            <div class="shadow-lg h-100 rounded-2 p-3 bg-white">
                <div class="d-flex justify-content-end">
                    <div style="border: 3px solid #e5b7f2;" class="rounded-circle p-2">
                        <div style="background-color: #e5b7f2;" class="rounded-circle">
                            <img class="p-2" src="~/images/icons/total-orders.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <h4 class="m-0">1</h4>
                    <p class="m-0">Total Orders</p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-3 col-sm-6">
            <div class="shadow-lg h-100 rounded-2 p-3 bg-white">
                <div class="d-flex justify-content-end">
                    <div style="border: 3px solid #add1e5;" class="rounded-circle p-2">
                        <div style="background-color: #add1e5;" class="rounded-circle">
                            <img class="p-2" src="~/images/icons/order-value.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start bg-white">
                    <h4 class="m-0">₹1630</h4>
                    <p class="m-0">Avg. Order Value</p>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-lg-3 col-sm-6">
            <div class="shadow-lg h-100 rounded-2 p-3 bg-white">
                <div class="d-flex justify-content-end">
                    <div style="border: 2px solid #f7ada2;" class="rounded-circle p-2">
                        <div style="background-color: #f7ada2;" class="rounded-circle">
                            <img class="p-2" src="~/images/icons/waiting-time.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <h4 class="m-0">₹1630</h4>
                    <p class="m-0">Avg. Waiting Time</p>
                </div>
            </div>
        </div>
        <div class="my-3">
            <div class="row g-2">
                <div class="col-lg-6">
                    <div class="shadow-lg p-3 rounded bg-white">
                        <h3>Revenue</h3>
                        <img src="~/images/Revenue.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shadow-lg p-3 rounded bg-white">
                        <h3>Customer Growth</h3>
                        <img src="~/images/Customer_Growth.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3">
            <div class="row g-2">
                <div class="col-md-3 ">
                    <div class="shadow-lg  p-3 rounded bg-white">
                        <h3>Top Selling Items</h3>
                        <table class="table">
                            <tbody>
                                <tr class="text-center align-middle">
                                    <td class="p-0 text-center align-middle">#1</td>
                                    <td class="py-2 align-middle">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <img src="~/images/dining-menu.png" alt="" class="me-2">
                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                <p class="m-0">Margherita</p>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <i class="fa-solid fa-eject me-1"></i>
                                                    <p class="m-0">1 order</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="text-center  align-middle">
                                    <td class="p-0 text-center  align-middle">#2</td>
                                    <td class="py-2 align-middle">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <img src="~/images/dining-menu.png" alt="" class="me-2">
                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                <p class="m-0">Margherita</p>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <i class="fa-solid fa-eject me-1"></i>
                                                    <p class="m-0">1 order</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="shadow-lg  p-3 rounded bg-white">
                        <h3>Least Selling Items</h3>
                        <table class="table">
                            <tbody>
                                <tr class="text-center align-middle">
                                    <td class="p-0 text-center align-middle">#1</td>
                                    <td class="py-2 align-middle">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <img src="~/images/dining-menu.png" alt="" class="me-2">
                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                <p class="m-0">Red Paprika Pizza</p>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <i class="fa-solid fa-eject me-1"></i>
                                                    <p class="m-0">1 order</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="text-center  align-middle">
                                    <td class="p-0 text-center  align-middle">#2</td>
                                    <td class="py-2 align-middle">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <img src="~/images/dining-menu.png" alt="" class="me-2">
                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                <p class="m-0">Sandwitch</p>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <i class="fa-solid fa-eject me-1"></i>
                                                    <p class="m-0">1 order</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shadow-lg h-100 rounded-2 d-flex  flex-column justify-content-between p-3 bg-white ">
                        <div class="d-flex justify-content-end">
                            <div style="border: 3px solid #fbc96e;" class="rounded-circle p-2">
                                <div style="background-color: #fbc96e;" class="rounded-circle">
                                    <img class="p-2" src="~/images/icons/waiting-list.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-start justify-content-end bg-white">
                            <h4 class="m-0">5</h4>
                            <p class="m-0">Waiting List Count</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shadow-lg h-100 rounded-2 p-3 d-flex  flex-column justify-content-between bg-white">
                        <div class="d-flex justify-content-end">
                            <div style="border: 3px solid #fca765;" class="rounded-circle p-2">
                                <div style="background-color: #fca765;" class="rounded-circle">
                                    <img class="p-2" src="~/images/icons/customer.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-start bg-white">
                            <h4 class="m-0">0</h4>
                            <p class="m-0">New Customer Count</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

</body>

</html>
